{% extends 'network/layout.html'%}
{% load static%}
{%block body%}

{% if user.is_authenticated%}
<div class="blockbody">
    <h3>Posts <span class="badge bg-secondary" style="color: white;">{{no}}</span></h3>
</div>

{% for i in posts%}
<div class="cards" style=" margin-left: 150px;">
    <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h5 class="card-title">{{i.title}}</h5>
          <a href="{% url 'profile' i.user.username %}" class="subtle_link"> <strong>{{i.user.username}}</strong></a>
          <p></p>
          <p class="card-subtitle mb-2 text-muted">{{i.timestamp}}</p>
          <p class="card-text">{{i.description}}</p>
        </div>
      </div>
</div>
{% endfor %}

<div style="margin-left: 1050px; margin-right: auto; margin-top: -1400px;">
    <h4>Following Users :</h4>
    {%for j in following_users%}
    
        <ul>
        <li><h6>{{j.username}}</h6></li>
    </ul>
    {%endfor%}
    </div>




{%else%}
<div class="blockbody">
    <h2>
        Following
    </h2>
    <hr>
    <p>
        Please login to view your following posts.
    </p>
</div>
{%endif%}
{%endblock%}
