{% extends "network/layout.html" %}
{%load static%}
{% block body %}
<script href="{% static 'network/src.js' %}"></script>
<div class="blockbody">
    <h2>
        All Posts
    </h2>
    <hr>
</div>
{% for i in posts%}
<div class="cards">
    <div class="card" style="width: 60rem;">
        <div class="card-body">
          <h5 class="card-title">{{i.title}}</h5>
          <button class="btn btn-secondary" id="link_profile">{{i.user.username}}</button>
          <p></p>
          <p class="card-subtitle mb-2 text-muted">{{i.timestamp}}</p>
          <p class="card-text">{{i.description}}</p>
          <p class="card-subtitle mb-2 text-muted">Likes : {{i.likes}}</p>
        </div>
      </div>
</div>
{% endfor %}


{% endblock %}