{% extends "network/layout.html" %}

{% block body %}
<div class="blockbody">
    <h2>
        All Posts
    </h2>
    <hr>
</div>
{% for i in posts%}
<div class="cards">
    <div class="card" style="width: 60rem;">
        <div class="card-body">
          <h5 class="card-title">{{i.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">User : {{i.user.username}}</h6>
          <p class="card-subtitle mb-2 text-muted">{{i.timestamp}}</p>
          <p class="card-text">{{i.description}}</p>
          <p class="card-subtitle mb-2 text-muted">Likes : {{i.likes}}</p>
        </div>
      </div>
</div>
{% endfor %}


{% endblock %}