{% extends "network/layout.html" %}

{% block body %}
<p></p>
    {% if message %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
    {% endif %}

    <div class="my-form bg-dark">
        <h1>Login Form</h1>
        <form action="{%url 'login'%}" method="post">
            {% csrf_token %}
          <div class="mb-3 mt-4">
            <label name="username" class="form-label">Username</label>
            <input type="text" class="form-control"  aria-describedby="emailHelp" name="username">
          </div>
          <div class="mb-3 mt-4">
            <label  class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
          </div>
          <button type="submit" class="btn btn-light mt-3" value="Login">LOGIN</button>
        </form>
        <p class="mt-4">Not a member? <a href="{% url 'register' %}">Register here!</a></p>
    </div>

{% endblock %}