{% extends 'network/layout.html'%}
{% load static%}
{%block body%}
{% if user.is_authenticated%}
<p></p>
<div class="my-form bg-dark">
    <h1>New Post</h1>
    <form action="{%url 'new_post'%}" method="post">
        {% csrf_token %}
      <div class="mb-3 mt-4">
        <label name="username" class="form-label">Title :</label>
        <input type="text" class="form-control"  aria-describedby="emailHelp" name="title">
      </div>
      <div class="mb-3 mt-4">
        <label  class="form-label">Description :</label>
        <textarea class="form-control" id="message-text" rows="8" name="description"></textarea>
      </div>
      <button type="submit" class="btn btn-light mt-3" >Post</button>
    </form>
</div>
<p></p>
{%else%}
<div class="blockbody">
    <h2>
        Create New Post
    </h2>
    <hr>
    <p>
        Please login to create a new post.
    </p>
</div>
{%endif%}

{%endblock%}