{%extends 'network/layout.html'%}
{%load static%}

{%block body%}
<div class="cards">
<div class="card text-center" style="width: 60rem;">
    <div class="card-header">
      User Profile
    </div>
    <div class="card-body">
      <h5 class="card-title">Username : {{user_obj.username}}</h5>
      <p class="card-text">Email : {{user_obj.email}}</p>
      <p class="card-text">Followers : {{user_obj.followers.count}} <span style="margin-left: 40px;"></span>Following : {{user_obj.following.count}}</p>
      {% if user_obj.username != user.username and user.is_authenticated%}
      {% if user.username in follow%}
      <form action="{%url 'follow_unfollow'%}" method="post">
    {%csrf_token%}
    <input type="hidden" name="username" value="{{user_obj.username}}">
      <button class="btn btn-danger" type="submit" name="follow" value="unfollow">UnFollow</button>
      </form>
      {%else%}
      <form action="{%url 'follow_unfollow'%}" method="post">
      {%csrf_token%}
      <input type="hidden" name="username" value="{{user_obj.username}}">
      <button class="btn btn-primary" type="submit" name="follow" value="follow">Follow</button>
      </form>
      {%endif%}
      {%endif%}
    </div>
    <div class="card-footer text-muted">
     Joined on  {{user_obj.date_joined}}
    </div>
</div>
<p></p>
<h2>Posts <span class="badge bg-secondary" style="color: white;">{{no}}</span></h2>
</div>


{% for i in posts%}
<div class="cards">
    <div class="card" style="width: 60rem;">
        <div class="card-body">
          <h5 class="card-title">{{i.title}}</h5>
          <p class="card-subtitle mb-2 text-muted">{{i.timestamp}}</p>
          <p class="card-text">{{i.description}}</p>
          <p class="card-subtitle mb-2 text-muted">Likes : {{i.likes}}</p>
        </div>
      </div>
</div>
<p></p>

{% endfor %}

{%endblock%}